/* .app-container {
    height: 600px;
    width: 800px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

.snippets-container {
    margin-top: 15%;
    height: 100%;
}

.new-snippet-bar {
    width: 100%;
    height: 40%; 
    border-bottom: 1px solid rgb(175, 177, 180);
    background-color: rgb(246, 246, 246);
    text-align: right;
    padding: 2px;
} */

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* font-family: CourierPrime; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    height: 100vh;
}

.row-height {
    height: 85vh;
    background-color: rgb(243, 243, 243);
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.newbutton-navbar {
    background-color: rgb(243, 243, 243);
    height: 40px;
}

.main-navbar {
    background-color: rgb(255, 255, 255);
}