.osxbtn {
    /* font-size: 0.8em;
    border-style: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 20px; */
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-appearance: button;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 20px 2px;
    text-rendering: auto;
    color: initial;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.osxbtn:active {    
    /* background-image: linear-gradient(rgb(105, 149, 249), rgb(47, 79, 253));
    color: rgb(255, 255, 255); */
    background-image: none;
    background-color: rgb(238, 238, 238) !important;
    color: rgb(0, 0, 0);
    outline: none;
}

.osxbtn:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgb(138, 159, 236);
}

.osxbtn-primary {
    background-image: linear-gradient(rgb(105, 149, 249), rgb(47, 79, 253));
    color: rgb(255, 255, 255);
}

.osxbtn-primary:hover {
    background-image: none;
    background-color: rgb(47, 79, 253);
    color: rgb(255, 255, 255);
}

.osxbtn-danger {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(232, 142, 144), rgb(226, 68, 72));
    color: rgb(255, 255, 255);
}

.osxbtn-danger:hover {
    /* background-image: linear-gradient(rgb(232, 142, 144), rgb(226, 68, 72)); */
    background-image: none;
    background-color: rgb(226, 68, 72);
    color: rgb(0, 0, 0);
}

.osxbtn-secondary {

}