/* .searchbar {
    width: 100%;
    height: 60%;
    border-radius: 0px;
    border: none;
    background-color: rgb(246, 246, 246);
    font-size: 1.5em;
    padding: 5%;
    border-bottom: 1px solid rgb(175, 177, 180);
}

.searchbar:focus {
    outline: none;
} */

.searchbar {
    -webkit-user-select: none; /* Allow the window to be moved when the searchbar is dragged (window is frameless) */
    -webkit-app-region: drag;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: bold;
}

.searchbar:focus {
    outline: none;
}

.searchbar-logo {
    height: 40px;
}

.settings-btn {
    color: rgb(153, 153, 153);
}

.settings-btn:hover {
    color: rgb(85, 85, 85);
}

.settings-btn:active {
    color: rgb(153, 153, 153);
}