/* layout.css Style */
.upload-drop-zone {
    display: flex;
    border-width: 2px;
    width: 100%;
    height: 100px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.upload-drop-zone:hover {
    background-color: rgb(239, 239, 240);
}

.drop-zone-text {
    margin: auto;
}