.snippet {
    background-color: rgb(255, 255, 255);
}

.snippet-selected {
    background-color: rgb(23, 100, 219);
    color: rgb(255, 255, 255);
}

.snippet-title {
    font-size: 1em;
}

.snippet-content {
    color: rgb(113, 113, 113);
    font-size: 0.8em;
}

.snippet-content-selected {
    color: rgb(167, 183, 240);
    font-size: 0.8em;
}

